<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>כאן נמיר מטבעות</h1>
            <p>יהיה בסדר ?!?!?!?</p>
        </div>
    </main>

   

</body>
</html>